[2018-12-06 06:07] not-an-aardvark opened #2 "Consider using an API design that prevents injection attacks"
Suppose someone is using this library to adding a star to a repository, where the repository ID comes from user input. If they don't know about GraphQL variables and they're being careless, they might implement it like this:

[code]

This example code is vulnerable to a "GraphQL injection" attack, where someone could modify the structure of the query or perform additional actions by supplying mali

[2018-12-07 15:52] gr2m commented on #2
Thanks Teddy, I’ll look into it

[2018-12-07 16:38] gr2m commented on #2
This is very interesting, thanks again for raising the issue! I haven’t worked with tagged templates yet, I’ll see how the escaping / replacement with variables could work. If I understand correctly we want

1. Prevent template literals outside of parameters by escaping them
2. Replace template literals used in parameters with variables

I like the `graphql(query, options)` api as it works similar

[2018-12-07 17:20] gr2m commented on #2
Does that look good?

### example 1

[code]

`result` would now be

[code]

### example 2

[code]

Throws an error

[2018-12-07 17:22] gr2m commented on #2
people might still want to construct dynamic queries, we could provide some workaround that makes clear that what they do has the danger of query injections

[2018-12-13 09:04] not-an-aardvark commented on #2
Sounds good to me.

[2019-01-30 14:59] ocombe opened #6 "Adding typings"
Hello, I've been using `@octokit/rest` for a while, and started porting my code to graphql, but I'm missing the typings that were super useful (https://github.com/octokit/rest.js/blob/master/scripts/templates/index.d.ts.tpl)
Would you consider adding something similar for graphql?

[2019-01-30 15:12] gr2m commented on #6
Yes :) I think @jasonetco was looking into adding them as well, or to rewrite the lib in Typescript altogether. Feel free to get it started :)

[2019-01-30 15:24] JasonEtco commented on #6
I started rewriting the lib in TypeScript this morning 😆 I'm far from being done though. Will share what I've got soon!

[2019-02-28 04:58] greenkeeper[bot] opened #8 "An in-range update of @octokit/request is breaking the build 🚨"
## The dependency [@octokit/request](https://github.com/octokit/request.js) was updated from `2.3.0` to `2.4.0`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2F%40octokit%2Frequest-2.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@octokit/request is a direct dep

[2019-02-28 10:55] greenkeeper[bot] opened #9 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.5` to `4.29.6`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fwebpack-4.29.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **mi

[2019-03-02 08:28] greenkeeper[bot] opened #10 "An in-range update of webpack-bundle-analyzer is breaking the build 🚨"
## The devDependency [webpack-bundle-analyzer](https://github.com/webpack-contrib/webpack-bundle-analyzer) was updated from `3.0.4` to `3.1.0`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fwebpack-bundle-analyzer-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-03-02 18:47] #8 closed

[2019-03-02 18:47] #9 closed

[2019-03-02 18:47] #10 closed

[2019-03-02 18:48] gr2m commented on #6
@JasonEtco 🛎👆

[2019-03-19 16:23] boneskull opened #12 "defaults() doesn't seem to work"
This works:

[code]

This fails with an HTTP 401:

[code]

[2019-03-19 17:33] gr2m commented on #12
Thanks Christopher, I was able to reproduce the problem:
https://runkit.com/gr2m/octokit-graphql-js-12

[2019-03-19 17:39] gr2m commented on #12
Ah the `.defaults()` function does not mutate the current client, instead it returns a new client. Try this

[code]

[2019-03-19 17:40] boneskull commented on #12
ah, that's easy to miss.  thanks.

[2019-03-19 20:28] gr2m commented on #12
Let me know if you have any further questions

[2019-03-19 20:28] #12 closed

[2019-03-19 20:29] gr2m commented on #6
@JasonEtco 🛎 Still working on it?

[2019-03-19 20:37] JasonEtco commented on #6
I am not - I had basic typings, but nothing that'd be good enough to share, probably only 20 minutes worth of work 😬

[2019-03-19 20:39] gr2m commented on #6
Do you want to start a PR with what you got and maybe someone else can pick it up from there?

[2019-03-19 20:48] JasonEtco commented on #6
Done @gr2m 👍 #13

[2019-04-04 14:53] TimonVS opened #14 "Handling partial data with error(s)"
In some cases the API might return partial data with an error, e.g.:

[code]

https://github.com/octokit/graphql.js/blob/master/lib/graphql.js#L30 suggests that when the API returns partial data and an error it will just return the data. Now my question is, how can I know that the API returns an error? As far as I can see I can't get access to the error object.

[2019-04-04 18:26] gr2m commented on #14
Could you maybe make a RunKit notebook reproducing the problem, using nock to mock the response? Or start a pull request with a failing test? You could add it here: https://github.com/octokit/graphql.js/blob/master/test/error-test.js

That would help me to look into it faster 🙏

[2019-04-04 18:32] TimonVS commented on #14
Sure, I’m sorry for not doing that right away 😅. I’ll get on it ASAP.

[2019-04-04 19:43] TimonVS commented on #14
I've created a reproduction here: https://github.com/TimonVS/graphql.js/blob/partial-data-error-repro/test/error-test.js#L51

If you run the test it will throw you'll notice that it fails on this line: https://github.com/TimonVS/graphql.js/blob/partial-data-error-repro/test/error-test.js#L103, which means that `graphql` didn't throw an error even though there are errors in the response. I'm wonder

[2019-04-04 20:14] gr2m commented on #14
The test looks great 👍 Could you start a pull request and we take it from there?

Good question, clearly a case I did not consider yet. Right now I think I would throw the error, but add `error.data` with the partial response

[2019-04-04 20:20] TimonVS commented on #14
Created a PR here: https://github.com/octokit/graphql.js/pull/15

[2019-04-07 16:25] greenkeeper[bot] opened #16 "An in-range update of mocha is breaking the build 🚨"
## The devDependency [mocha](https://github.com/mochajs/mocha) was updated from `6.0.2` to `6.1.0`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fmocha-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a devDependency of this project. It **might not bre

[2019-04-08 22:36] #16 closed

[2019-04-09 10:36] iliakan opened #17 "rate-limit tools"
Is there any baked-in solution that allows to wait if rate-limit exceeded?

Or just any rate-limit interaction?

[2019-04-09 17:19] gr2m commented on #17
Not directly for the `@octokit/graphql` method. But we do have a plugin for `@octokit/rest`: https://github.com/octokit/plugin-throttling.js

Let me get back to you on how to use the plugin with `@octokit/graphql`, it’s not straight forward at this point. I’m currently working on other things so it will take a while I’m afraid. But if you want to look into it yourself and have any questions, I’d b

[2019-04-09 17:49] iliakan commented on #17
That's looks straingt to the point!

Should I use `@octokit/rest` instead of `@octokit/graphql`?

[2019-05-11 23:45] hughrawlinson opened #20 "Usage in Create React App"
Hi,

I'm a little confused about where to report this issue, but since this package is the top level dependency I'm importing, I'll start here and see where I end up.

I'm having trouble using this library in a Create React App app. When I make a query, you call `@octokit/request`, which calls `is-plain-object`. In node, that's fine, but in my web app I'm getting `isPlainObject is not a function`.

[2019-05-12 00:09] hughrawlinson commented on #20
I had been using an alternative library without this issue, but unfortunately that library doesn't support setting the `accept` header on http requests, so I'm not able to use that library to make queries for vulnerability reports.

[2019-05-12 04:06] #20 closed

[2019-05-12 04:08] gr2m commented on #20
Thanks for reporting & fixing the issue! And thanks for using the library, we hope you find it useful.

[2019-05-17 23:31] gr2m commented on #17
https://github.com/octokit/plugin-throttling.js does include special throttling for `@octokit/graphql` now. It’s still not usable with `@octokit/rest`, but if you don’t want to wait, here is how we use it in probot:

https://github.com/probot/probot/blob/8f86e8d1c82f7ac94899f97b0104fa9a8b7c5b48/src/github/graphql.ts#L18-L22

Note that it’s using internal APIs, so make sure to pin the `@octokit/gra

[2019-05-17 23:35] gr2m commented on #14
fixed via https://github.com/octokit/graphql.js/pull/15

[2019-05-17 23:35] #14 closed

[2019-05-25 12:06] hughrawlinson opened #27 "'used by' field on repo object"
Hi,

Please delete this issue if this isn't the right place to submit feature requests for the GitHub GraphQL API. If you can point me to the right place, even better!

I'm working on an app that displays all a users repositories in a sortable and filterable table so that they can easily identify issues with their repos setup, and prioritize fixes (like "all non-archived repos should be tagged and

[2019-05-25 13:50] gr2m commented on #27
Hi Hugh,

this repository is just a client for the GraphQL.

Good places to ask your question are

- https://github.community/
- https://github.com/support

Have a nice weekend :)

[2019-05-25 13:50] #27 closed

[2019-07-12 02:51] greenkeeper[bot] opened #33 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.4` to `3.0.5`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fcoveralls-3.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pro

[2019-07-12 19:44] #33 closed

[2019-07-17 12:07] greenkeeper[bot] opened #36 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **mi

[2019-07-23 14:55] #36 closed

[2019-07-30 22:57] greenkeeper[bot] opened #37 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.18` to `15.13.19`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fsemantic-release-15.13.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-

[2019-07-30 23:17] gr2m commented on #37
Problem is a cypress and/or Travis update. A library needs to be added, see https://travis-ci.com/octokit/graphql.js/jobs/221050068#L256

[2019-08-01 16:22] greenkeeper[bot] opened #38 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.38.0` to `4.39.0`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fwebpack-4.39.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **mi

[2019-08-07 10:59] greenkeeper[bot] opened #39 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.5` to `3.0.6`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fcoveralls-3.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of this pro

[2019-08-07 16:09] #37 closed

[2019-08-07 16:09] #38 closed

[2019-08-07 16:09] #39 closed

[2019-08-13 18:35] greenkeeper[bot] opened #41 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.39.1` to `4.39.2`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fwebpack-4.39.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **mi

[2019-08-13 19:28] greenkeeper[bot] opened #42 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.20` to `15.13.21`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fsemantic-release-15.13.21).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-

[2019-08-14 00:05] #42 closed

[2019-08-14 00:05] #41 closed

[2019-08-16 04:16] octokitbot opened #45 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-08-16 04:21] gr2m commented on #45
I got it

[2019-08-16 04:21] #45 closed

[2019-08-16 04:39] gr2m commented on #2
I've added a note to the README referencing this issue. I have decided not going to change the API. Thanks for making me aware of the potential injection attack and for bearing with me :)

[2019-08-16 04:39] #2 closed

[2019-08-16 04:48] gr2m commented on #6
done via [v4.0.0](https://github.com/octokit/graphql.js/releases/tag/v4.0.0)

[2019-08-16 04:48] #6 closed

[2019-08-16 04:50] gr2m commented on #17
I'm working on the Octokit Core library which will include the `.graphql` method, but also the plugin API. So you will be able to load the throttle plugin.

Initial version should be ready soon: https://github.com/octokit/core.js/pull/3

[2019-08-16 04:56] wolfy1339 opened #47 "Re-visit typescript parameters"
This is the error and no-one has yet been able to fix it. Maybe sometime later it will be obvious how to fix the issue
[code]

[2019-08-16 05:21] gr2m commented on #47
Can you share an example that will use the typescript parameter? Would it define the type of the result the `graphql()` method resolves with?

[2019-08-16 05:39] wolfy1339 commented on #47
Yes, it will change the return type.

I'm not sure I have a proper example, since I've never used GraphQL ever, but it works the same as in `@octokit/rest`.

Since you said in #46 that you didn't understand these, I'll link to the relevant section in the TS docs: https://www.typescriptlang.org/docs/handbook/generics.html

[2019-08-16 15:24] gr2m commented on #47
Okay I think I got it now :)

[2019-08-16 17:09] gr2m opened #49 "Improve Typescript context information"
When hovering over the `graphql` method, it currently shows the description of `@octokit/request`, describing the `route` parameter. It should describe the `query` parameter instead

<img width="802" alt="image" src="https://user-images.githubusercontent.com/39992/63185060-da3c3f00-c00d-11e9-854b-5a0e82111ca5.png">

[2019-08-22 07:31] bobvanderlinden opened #50 "graphql type signature doesn't match its result"
The type signature of the `graphql` call says the result is a `GraphQlQueryResponse`, which is defined as:
https://github.com/octokit/graphql.js/blob/c1fa150854d8d4e7c3e519d3e7941768e18668c6/src/types.ts#L33-L48

A object that has a `data` attribute and an optional `errors` attribute.

However, the implementation of the `graphql` call returns something entirely different:

https://github.com/octok

[2019-08-22 16:09] wolfy1339 commented on #50
Thanks for the well written report!

That code has been written like that since before the migration to TypeScript.

If I would change the return value to `Promise<GraphQlQueryTesponse['data']>` would that fix this issue?

[2019-08-23 08:22] bobvanderlinden commented on #50
I personally would just change the type of `GraphQlQueryTesponse` to be `any` (or whatever type `GraphQlQueryTesponse['data']` has currently). This keeps backwards compatibility for Javascript applications.

Ideally I'd like to see the implementation match the current type information in the sense that it will not throw an exception, but just return `{ data, errors }`. The exception is not documen

[2019-08-23 08:24] bobvanderlinden commented on #50
Just to give an impression how I'm now handling the graphql call:

https://github.com/bobvanderlinden/probot-auto-merge/blob/b1412b5b66f2ff590bb5df87732a994ba0dff263/src/pull-request-query.ts#L36-L61

[2019-08-23 13:28] wolfy1339 commented on #50
Thanks, for the explanation, I will try and look into it

[2019-08-23 16:56] gr2m commented on #50
Thanks @wolfy1339.

The types are wrong, `graphql()` resolves with the value of `data`, not with `{ data, errors }`, because if errors are present, `graphql()` rejects instead.

Sorry for the trouble :(

[2019-08-23 20:11] #50 closed

[2019-09-01 20:58] MaximDevoir opened #52 "TypeScript doesn't resolve definitions for submodules"
Opened a related issue in the Pika builder repo: [issue 83](https://github.com/pikapkg/builders/issues/83). This is something that should be fixed in the `plugin-ts-standard-pkg` repository. In the meantime, I think we need a patch solution here.

**The Issue**
In graphql 4.0.0, submodule definition files were generated to 'dist-types' by the `pika` builder. Developers will only get access to the

[2019-09-01 21:08] MaximDevoir commented on #52
I'm working on migrating some old `graphql` definitions in Probot to this repository. So whatever solution you would like to move forward with, I'll add that to the PR.

[2019-09-02 04:47] gr2m commented on #52
I'm sorry I don't quite understand the problem? The package.json file has the `"types"` key which points to `dist-types/index.d.ts`

https://unpkg.com/browse/@octokit/graphql@4.0.0/package.json

So the types should be exported correctly when importing `{ graphql }` from `@octokit/graphql`?

I think I'm missing your point, could you maybe provide an example?

[2019-09-02 06:22] MaximDevoir commented on #52
Yeah, they are needed in some areas in the probot/probot repository.

Such as importing [with-defaults](https://github.com/probot/probot/blob/f457477e505bc9f0463ae1cf023f13067f0fca11/src/github/graphql.ts#L18)

[2019-09-02 15:24] gr2m commented on #52
Ah I see what you mean now. And I remember, that is actually the reason why Probot was not yet updated to the latest `@octokit/graphql.js` version: Probot is using internal APIs which are no longer exposed.

If I recall correctly, we use the internal "WithDefaults" method because we needed to be able to pass in Probots `octokit.request` instance which has plugins applied, e.g. for throttling and r

[2019-09-02 15:31] gr2m commented on #52
Maybe we could add a new export which only allows to set a custom request method, but not the default options, somthing like this

[code]

We could make that an official, public API and add documentation for it in the README.md

[2019-09-04 19:21] gr2m commented on #52
I'm going to build this now ☝️ I'm not 100% convinced that it is necessary but it will unblock Probot to use the latest version without waiting for the next major release when probot will be based on [@octokit/core](https://github.com/octokit/core.js)

[2019-09-04 21:02] gr2m commented on #52
The new `withCustomRequest` method has been shipped in [v4.2.0](https://github.com/octokit/graphql.js/releases/tag/v4.2.0)

This should resolve https://github.com/probot/probot/pull/1000 and unblock https://github.com/probot/probot/pull/986. Would you like to send an according PR to Probot?

[2019-09-09 18:42] gr2m commented on #52
resolved via https://github.com/probot/probot/pull/1006

[2019-09-09 18:42] #52 closed

[2019-10-05 11:43] greenkeeper[bot] opened #59 "An in-range update of fetch-mock is breaking the build 🚨"
## The devDependency [fetch-mock](https://github.com/wheresrhys/fetch-mock) was updated from `7.5.0` to `7.5.1`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Ffetch-mock-7.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fetch-mock is a devDependency of this proj

[2019-10-05 16:48] gr2m commented on #59
Greenkeeper fails to create lock files. Again :(

[2019-10-05 16:48] #59 closed

[2019-10-10 18:45] #49 closed

[2019-10-14 13:42] NickLiffen opened #61 "Pagination/Next Cursor Automation"
Hey,

Understand that pagination in GraphQL isn't the same as pagination within REST. One thing that we had to do when using this library is to build our own helper function around how to handle retires/pagination when returning a subset of data which is large.

It would be great if this library could handle some of that an abstract that behind the scenes so we wouldn't have to build our own helpe

[2019-10-14 20:33] gr2m commented on #61
Thanks Nick for opening the issue and sharing your solution for pagination. You are definitely not the first asking for it. I haven't looked into it myself yet, but agree that we should provide a solution.

My plan is two create two separate plugins, one for REST and one for GraphQL. And then a plugin that combines the two somehow.

The 1st one already exists within `@octokit/rest`: https://github

[2019-10-14 20:35] gr2m commented on #61
Let me add that I would prefer not to add pagination to `@octokit/graphql` itself, to keep it simple and its bundle size small. And it works for most use cases. If people want to use pagination with GraphQL with the least overhead possible I would point them to https://github.com/octokit/core.js and then the plugin for graphql pagination.

[2019-10-15 08:09] NickLiffen commented on #61
Hey 👋 Let's create a repository like you said: https://github.com/octokit/plugin-paginate-graphql.js. I am more than happy to extract it out of the `@octokit/graphql`module. I would see it trying to keep the same pattern and interaction as REST, so if someone was to use the REST module, the interaction could be *similar* for GraphQL.  I would see the pagination only applying to some requests withi

[2019-10-15 20:52] gr2m commented on #61
I can get the repository going in no time, I've made a script which automates most of the setup for me https://github.com/octokit/create-octokit-project.js/

One thing we could maybe discuss here first is how you would use the plugin. I'd assume it would be something like this:

[code]

Would that work with your code?

If we created a plugin that supports both REST & GraphQL pagination, we could q

[2019-10-16 08:57] NickLiffen commented on #61
^^^ I like that. Due to the fact that GitHub's GraphQL offering isn't mature enough yet to be completely independent of REST for an application, I think that would be nice.

Behind the scenes when they call `octokit.paginate` we would look for the cursor within the query response and i think we would make this work 👍 That example looks good to me. It would also give a somewhat similar interface to

[2019-10-18 17:44] NickLiffen commented on #61
@gr2m let me know how I can help on this 👍

[2019-10-18 17:46] gr2m commented on #61
Will do! There are a few things I need to take care of first. I'll ping you once I've setup the repository

[2019-10-18 18:58] gr2m commented on #61
Here is the plugin scaffold:
https://github.com/octokit/plugin-paginate-graphql.js/pull/1

I've invited you to the repository, you can directly edit the code:
https://github.com/octokit/plugin-paginate-graphql.js/invitations

Let's continue the discussion there :)

[2019-10-30 17:59] greenkeeper[bot] opened #64 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.1` to `12.12.2`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2F%40types%2Fnode-12.12.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a dev

[2019-10-30 22:27] gr2m commented on #64
false positive

[2019-10-30 22:27] #64 closed

[2019-11-03 00:22] gr2m commented on #61
@NickLiffen are you still interested in working on this?

[2019-11-03 18:17] gr2m commented on #61
I looked into this a little more. I'm curious how your GraphQL implementation looks like. From my research so far, I'd like to do the following

1. Require the user to add `pageInfo { endCursor hasNextPage }` to the parts they want to paginate. No magical mutating of the query to make it paginate. Log a warning if the query has no `pageInfo` nodes
2. Support async iteration like [@octokit/plugin-p

[2019-11-19 02:05] kevo1ution commented on #61
I was wondering how you plan on doing nested pagination. Like for example if my query is
[code]

The labels will need to be paginated for every pull request that also requires pagination.

I'm thinking that this will need to be some kind of BFS traversal to paginate every list. You first paginate all of the parent's list and then for each parent you paginate the child's list. In my example query,

[2019-11-19 03:27] gr2m commented on #61
I agree with everything you said. It's complicated.

A query with a lot of nested nodes can very quickly run up to the theoretical node limit of currently 500,000, see https://developer.github.com/v4/guides/resource-limitations/#node-limit

Yet another thing to consider is the way rate limiting works for GraphQL. You can retrieve the cost of a query by requesting `rateLimit.cost`, e.g.

[code]

I

[2019-12-09 21:40] greenkeeper[bot] opened #68 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.15` to `12.12.16`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2F%40types%2Fnode-12.12.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2019-12-13 21:58] foolip commented on #17
https://github.com/octokit/core.js/pull/3 is resolved now, does that mean this is ready for action now? Examples of how to integrate with `@octokit/graphql` would be great!

[2019-12-19 17:06] #68 closed

[2019-12-19 21:51] gr2m commented on #17
I'm open to suggestions. Throttling with GraphQL is much more complicated then it is with REST. @ReaLoretta gave a great talk on advanced GraphQL patterns such as this at GitHub Universe: https://www.youtube.com/watch?v=i5pIszu9MeM.

We are looking into creating a GraphQL pagination plugin too: https://github.com/octokit/plugin-paginate-graphql.js/pull/1

[2020-01-26 11:16] sustained commented on #61
Hey, are there any updates relating to this issue?

[2020-01-26 21:05] gr2m commented on #61
No, the answer will probably remain "It's complicated", and better docs, not code

[2020-01-27 00:16] sustained commented on #61
Yeah, it does look rather complicated indeed, especially the sub-pagination issue, that boggles my mind to even think about.

I'll have to use some kind of helper based on the one above for now, then. Thanks!

[2020-02-13 03:44] greenkeeper[bot] opened #76 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `17.0.2` to `17.0.3`.

🚨 [View failing branch](https://github.com/octokit/graphql.js/compare/master...octokit:greenkeeper%2Fsemantic-release-17.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semantic-releas

[2020-02-13 06:35] #76 closed

[2020-02-20 12:49] olivernybroe opened #78 "Can't load client in Cloudflare workers"
When trying to use this library inside a Cloudflare Worker it crashes with following error message
[code]

This happens when adding
[code]

[2020-02-20 16:56] gr2m commented on #78
Oh interesting, thanks for letting me know! I'm fairly sure the fix need to happen here:
https://github.com/gr2m/universal-user-agent/blob/d2960698eedb776000df9cd7b70d26c5574835f4/src/browser.ts

In the future we might provide a custom export for cloudlfare, but for the time being I think we can just add a check if `navigator` exists, and if it does not then return `unknown`, maybe with a referenc

[2020-02-21 08:04] olivernybroe commented on #78
@gr2m thanks for debugging this and figuring out where the error originated from!

I created a PR 👍

[2020-02-21 18:56] gr2m commented on #78
Is your project Open Source? I've a project in mind for Cloudflare Workers myself and would be interested how your setup looks like

All I've built so far is a GitHub OAuth client server https://github.com/gr2m/cloudflare-worker-github-oauth-login

[2020-02-24 07:40] olivernybroe commented on #78
@gr2m Unfortunately it is closed source for now. In a couple of months I'll prob. open source it, just need to clean it first and so on.

However the cloudflare worker part is not that big in my project. It is a simple service for creating a shield.io compatible API, where it uses the GitHub API to check if you have access to update the badge on the specified branch. (The request to the worker is

[2020-02-25 23:11] sqren opened #80 "Incorrect return type for `graphql()`"
Hi :octocat:

I'm trying to run some of the examples from the readme and I'm seeing some odd return types:

**Example:**

[code]

The error I get is:
[code]

![image](https://user-images.githubusercontent.com/209966/75295655-7cde4180-582b-11ea-9907-d67d8f4eb3b6.png)

I understand that since the query is provided dynamically it is not possible for Typescript to determine the exact return type. I'd

[2020-02-25 23:14] gr2m commented on #80
I thought your suggestion was already possible, but looks like we only discussed it so far.

I think for one, TypeScript should not raise the error, the result type should always be an object with any keys allowed.

And second, I agree we should support allowing to pass custom types. Would you like to start a pull request for this?

[2020-03-29 23:24] seed-of-apricot commented on #80
@gr2m The suggestion from @sqren is not yet possible.

When I try

[code]

It complains `Expected 0 type arguments, but got 1.ts(2558)`.

[2020-03-30 17:12] gr2m commented on #80
I can't helpw ith `@actions/github`, see also https://github.com/actions/toolkit/issues/334#issuecomment-597298204

Could you try and use `@octokit/action` instead?

[code]

[2020-03-30 19:10] seed-of-apricot commented on #80
@gr2m I still get the same issues. With `"@octokit/action": "^2.0.3"`.

![image](https://user-images.githubusercontent.com/26666870/77951629-3727f500-727f-11ea-8588-a4b55f4b5d39.png)

![image](https://user-images.githubusercontent.com/26666870/77951675-48710180-727f-11ea-9c79-a51f1a5d7314.png)

[2020-03-30 20:34] gr2m commented on #80
Okay, thank you for checking. I promise I'll get back to this issue, I have it in my backlog. Just cannot make promises when.

I'd gladly review a pull request, that would speed up the process a lot.

[2020-04-21 08:53] olivernybroe commented on #78
@gr2m Totally forgot to write here, but the project has been open sourced, so you can check it out.

You can find it here https://github.com/worksome/phpinsights-app/tree/master/badge

[2020-05-05 16:13] dominguezcelada opened #85 "To be able to pass more than one mediaType to @octokit/graphql"
## Use case
To be able to use more than one [Github Schema Preview](https://developer.github.com/v4/previews/).

### Type
bug 🐛

## Issue
Right now, as far as I understand, there is not a way to pass more than one `Accept` header to use more than one [Github Schema Preview](https://developer.github.com/v4/previews/).

[Using `mediaType` attribute](https://github.com/octokit/types.ts/blob/0689ba8a2

[2020-05-05 16:34] dominguezcelada opened #86 "Feature Request: Add option to ignore GraphQL errors"
## Description
I'm experiencing an issue using a Preview Schema from Github. Even the request succeeds and it retrieves the data I'm expecting, it also replies with errors. Since there are errors, I can't use `@octokit/graphql` utility to get the response.

Already reported [here](https://github.community/t5/GitHub-API-Development-and/What-does-the-quot-loading-quot-error-message-mean-in-response/

[2020-05-05 17:42] gr2m commented on #78
I want to give this another look :)

[2020-05-05 18:33] gr2m commented on #86
I think `error.data` should still give you access to the response?

[2020-05-05 20:21] dominguezcelada commented on #86
Yes! You are right! It solves my use case and it's cleaner than adding this `allowErrors` option. Thanks! :D

[2020-05-05 20:22] #86 closed

[2020-05-07 20:36] gr2m opened #88 "replace travis with GitHub Actions"
compare setup in https://github.com/octokit/request.js/.

Would love some help with this one :)

[2020-05-07 21:31] #85 closed

[2020-05-07 22:07] gr2m commented on #88
oops, this just became a blocker, so I'll take this one after all, sorry friends

[2020-05-07 22:21] github-actions[bot] opened #90 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-07 22:25] gr2m commented on #88
done via #89

[2020-05-07 22:25] #88 closed

[2020-05-07 22:31] #90 closed

[2020-05-18 05:52] copperwall commented on #80
Hey @gr2m, I’m interested in working on this if that’s alright. I’m having a little trouble passing a generic type that would let a user specify the return type from the exported `graphql` function down to the function in `graphql` function in `graphql.js`, but I’m kind of learning typescript as I go so I probably just need to spend a little more time on it.

[2020-05-18 06:59] gr2m commented on #80
@copperwall of course! Thanks a lot for looking into it!

[2020-05-20 07:42] #80 closed

[2020-05-21 08:21] copperwall commented on #47
Hey @gr2m 👋 is this resolved by #99? It seems kind of similar.

[2020-05-21 17:18] gr2m commented on #47
Yes, I think so, too 👍

[2020-05-21 17:18] #47 closed

[2020-05-22 17:19] github-actions[bot] opened #104 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-05-28 16:54] gr2m commented on #104
failed due to recent outage

[2020-05-28 16:54] #104 closed

[2020-06-12 13:14] ScottChapman opened #126 "How would I parameterize the query in a search call?"
The structure of the graphql looks like:
`search(first:10, type:ISSUE, query:"<string>") {...}`
but to parameterize it I would do:
[code]
But clearly that doesn't work...

[2020-06-12 13:28] ScottChapman commented on #61
...disappointed. I'd rather see a simple solution for majority of cases (with limitations). People don't have to use it if it doesn't apply...

[2020-06-12 16:47] gr2m commented on #126
Try this:

[code]

Does that work for you?

[2020-06-12 17:18] gr2m commented on #61
I agree @ScottChapman, I just don't know what the scope would be, and what the APIs would look like.

Here is an example for a GraphQL Query that I needed to be paginated yesterday:

[code]

And here is my method to gather all results using cursor pagination

[code]

I built code like this all the time, I'd very much like to generalize it. Some patterns that I observed:

1. A single node is pagina

[2020-06-12 18:03] jetersen commented on #61
This sounds awesome. I am all for generalizing graphql pagination. I agree with convention for cursor variables makes absolute sense for sub cursors as well.

[2020-07-03 19:55] #126 closed

[2020-07-03 20:00] ScottChapman opened #135 "GraphqlError: Field 'createLabel' doesn't exist on type 'Mutation'"
So, I'm trying to migrate from using the request object from `@octokit/rest.js` to make graphql calls like this:
[code]
That works like a champ. But trying to re-factor to use this:
[code]
That does NOT work. It gives me the following error:
`GraphqlError: Field 'createLabel' doesn't exist on type 'Mutation'`

What am I doing wrong??

[2020-07-10 16:48] gr2m commented on #135
If you used `octokit.request` before, you can use `octokit.graphql`, it will inherit the same authentication and request settings.

The error makes no sense to me ... very odd! Does it work when you paste it 1:1 into https://developer.github.com/v4/explorer/?

[2020-07-10 17:04] ScottChapman commented on #135
yea! That's how I develop my graphql. Does someone have an example of the above that works?

[2020-07-10 17:20] gr2m commented on #135
I get the same error in the explorer

<img width="616" alt="image" src="https://user-images.githubusercontent.com/39992/87180490-7b229100-c295-11ea-94da-6ce8b5e0cd2f.png">

THere is a preview you need to set in order to use the `createLabel` mutation:
https://docs.github.com/en/graphql/overview/schema-previews#labels-preview

You can do that like this

[code]

You might also want to use variables

[2020-07-10 18:54] ScottChapman commented on #135
Damn it! I was pretty sure I crafted it that way. Thanks for being a co-pilot

[2020-07-10 18:54] #135 closed

[2020-07-28 03:07] cliffkoh opened #158 "Exceptions thrown by @octokit/graphql when authenticated are inconsistent/lacks response headers"
Hi,

Unlike `@octokit/rest` or `@octokit/graphql` requests made when unauthenticated, requests made when authenticated lack the response headers.

In particular, this is of an issue to me because I am unable to obtain the `x-github-request-id` header in order to escalate certain problematic API responses to GitHub support without this field.

### Repro:

[code]

### Expected
Exception to be:
[code

[2020-07-28 23:55] #158 closed

[2020-08-02 07:03] w3nda opened #162 "Getting HttpError 403 when using in enterprise."
Hey I am using github graphql for an interesting feature, I am fetching all repos in an organisation, then going over each repo and checking if a certain package is used.

This is enterprise github, also means that everything runs behind a vpc in aws.
When I run the query locally, everything works fine, but once I run it in aws lambda, I get this error below, but the funny thing is that this error

[2020-08-02 09:05] w3nda commented on #162
Solved using retry mechanism using the `Retry-After` response header I get from github.

[2020-08-02 09:05] #162 closed

[2020-08-08 08:20] avikjis27 opened #166 "Can't search PRs in a repo"
I want to search for all the `merged` PRs in a repository. So I tested below query [here](https://developer.github.com/v4/explorer/) which was working fine.
[code]
With the parameter
[code]
When I tried to use the same query in `graphql.js` it gives me an error telling `Parse error on "repo" (IDENTIFIER) at [1, 1]`

**Code Snippet**
[code]

[2020-08-09 20:56] gr2m commented on #166
Thanks Avik for reporting the problem, I was able to confirm it.

While I investigate the cause of the problem, you can rename the `query` variable to just `q` and the code will work

[2020-08-09 20:59] gr2m commented on #166
The problem is that `query` is a special variable used internally. `graphql(query, variables)` can also be sent as `graphql({ query, ...variables })`. I might be able to workaround the restrictions of a GraphQL variable named `query`, but if not, I can at least throw a more helpful error

[2020-08-25 11:10] Maxim-Mazurok opened #176 "Can't use as Octokit with TypeScript"
I use Octokit like this:
[code]

And I'd like to use graphql.js in a similar manner. But currently, `graphql` import is not of `graphql` type.
So, I have to use something like this:

[code]

It would be cool if they were more consistent.

[2020-08-25 17:51] gr2m commented on #176
That should really not be necessary. The types are exported when you import `@octokit/graphql`, see https://unpkg.com/browse/@octokit/graphql@4.5.4/package.json#L51. Can you make sure you have the latest version?

Also I just want to make sure you are aware that `@octokit/rest` also exposes an `octokit.graphql()` method since v17 (since it's based on [`@octokit/core`](https://github.com/octokit/co

[2020-08-26 00:35] Maxim-Mazurok commented on #176
Thanks for your response.
Yes, I'm using the latest (`4.5.4`) version.
Still, I can't do something like this:
[code]

`octokit.graphql` works just fine for me without any additional imports, thanks!

[2020-08-26 17:20] gr2m commented on #176
I'm not sure if there is something I can do about that, do you?

You'll have to do this for the time being

[code]

[2020-08-28 06:07] Maxim-Mazurok commented on #176
Yes, this also will definitely work!
I should've thought about `typeof`, nice solution 👍

[2020-08-28 06:07] #176 closed

[2020-09-09 17:29] gr2m opened #185 "Setting baseUrl for GHES results in 406 when using with @octokit/auth-app"
This is a follow up issue to https://github.com/octokit/auth-app.js/issues/111 @lencioni

Minimal test case to reproduce the problem

[code]

The script currently fails with `406`

The problem is that using `auth.hook` will utilize the request instance that it was passed into. That means that the `@octokit/auth-app` instance will use `${process.env.HOST}/api` as baseURL which will result it sendin

[2020-09-09 18:25] #185 closed

[2020-09-10 00:26] kevindigo commented on #17
We're about to dive into some octokit graphql work. What is the recommended way to perform simple throttling/rate limiting at this point?

[2020-09-10 06:20] gr2m commented on #17
Use the [throttle plugin](https://github.com/octokit/plugin-throttling.js#readme), it has some throttle logic specific to GraphQL built in, but I don't think it covers it all yet. As mentioned above GraphQL is much more complicated compared to the REST API, throttling alone won't help you if your queries are to complex. Make sure to watch Rea's talk that I've linked above.

The original issue is r

[2020-09-10 06:20] #17 closed

[2020-09-10 20:31] #166 closed

[2020-09-11 16:15] goncalvesnelson opened #191 "Allow orderBy of PullRequests by mergedAt"
Hi,
Would it be possible to extend the graphQL API to allow sorting the list of pull requests by mergedAt?

This would be very helpful in automating the creation of CHANGELOG files since it would allow us to:
1. Use the API to fetch the createdAt timestamp of the last release
2. Get the list of PRs sorted by mergedAt and iterate through that list, saving each PR until we find the first PR with mer

[2020-09-11 18:32] gr2m commented on #191
What's your current query?

I cannot help with extending GitHub's GraphQL Schema. The best place to ask about that is https://github.community/c/github-api-development-and-support/37 or to send a Support request at https://support.github.com/contact

The `@octokit/graphql` library that we maintain in this repository is just a light wrapper around GitHub's GraphQL API

[2020-09-14 09:16] goncalvesnelson commented on #191
Hi @gr2m.
Thanks for replying!
My query is the following:

[code]

I first fetch the last release and then, using the query above I fetch the list of PRs (which I would like to have sorted by mergedAt in reversed order) in order to get all the PRs that have been merged after the last release was created.
The issue is that you can only sort by createdAt or updatedAt, both of which cannot be used fo

[2020-09-14 14:46] gr2m commented on #191
I see, so you would like to `orderBy.fields` for `repository.pullRequests()` to support a new field: `MERGED_AT`. I'm afraid I cannot help with that. [The equivalent REST API endpoint](https://docs.github.com/en/rest/reference/pulls#list-pull-requests) does not have that option either.

I recommend contacting support: https://support.github.com/contact. They will file your request and will let you

[2020-09-14 14:46] #191 closed

[2020-09-15 11:50] warrenbuckley opened #195 "After update to 4.5.6 Azure NodeJS Function Fails - isPlainObject is not a functionat Object.keys.forEach.key"
## Problem
After upgrading to the latest version 4.5.6 a NodeJS serverless Azure Function now complains about
**isPlainObject is not a function at Object.keys.forEach.key**

If I revert the package.json dependency back to **4.5.4** then it continues to work as it once did.

## Error

[code]

![image](https://user-images.githubusercontent.com/1389894/93206519-6c52d180-f751-11ea-82c5-f3fb551cff3a.pn

[2020-09-15 15:38] gr2m commented on #195
`is-plain-object` was recently bumped to v5 via https://github.com/octokit/endpoint.js/releases/tag/v6.0.6, but the code was adjusted accordingly.

Do you have a lock file? Could you provide the output of `npm ls | grep octokit` (or the yarn equivalent if you use that)?

I'm not able to reproduce the problem with the information you shared. If you could create a minimal test that would be great. r

[2020-09-16 09:03] warrenbuckley commented on #195
@gr2m this works fine locally for me, it is only when this is pushed into Azure itself that it causes this problem, which is obviously tricky to replicate.

With this seeming to be specific to Azure as I can not reproduce this locally, I am not sure a RunKit will help us, but will create one if you want me to. If there any other details or specifics you wish for me to investigate with Azure to hel

[2020-09-16 19:07] gr2m commented on #195
It all looks correct to me ...

Could you create a much more reduced function and see if it causes the same problem, something like this?

[code]

Can you tell what windows operating system the function is running on? We could try to reproduce it with GitHub Actions running on Windows

[2020-09-17 20:16] warrenbuckley commented on #195
## Azure Windows OS
Azure = 10.0.14393.0
Local = 10.0.19041

![image](https://user-images.githubusercontent.com/1389894/93518073-3dd92000-f924-11ea-944e-db0f354e9256.png)

## Simple example
I have deployed the simple example too and also get the error
https://github-sponsor-check-deploy.azurewebsites.net/GithubIssue?token=PAT_TOKEN_WITH_USER_READ

**Git Commit in Repo that Deployed to Azure Functi

[2020-09-17 21:45] warrenbuckley commented on #195
I haven't had time yet, but come across this repo from MS/Azure Functions that may give some insight how this runs on Azure with the slightly vague error we have
https://github.com/Azure/azure-functions-nodejs-worker

Maybe someone from that team/repo could give some insights?

[2020-09-18 21:08] gr2m commented on #195
I've tried to reproduce the problem using the available windows version on GItHub actions, but to no avail:

- windows-latest: https://github.com/octokit/graphql.js/runs/1135909687?check_suite_focus=true#step:6:7
- windows-2019:

My test case is here: https://github.com/octokit/graphql.js/blob/a6d0bff10c8e70eccf958813670afb330f5eee07/reproduce-195.js#L1-L25

run from this workflow file: https://gi

[2020-09-18 21:59] warrenbuckley commented on #195
Thanks for the update. Interesting it’s all fine on a GitHub Action. I suspect there is something specific happening when run as an Azure Function and is environment specific.

If you want me to try anything else let me know please.

[2020-09-19 23:48] jnwng commented on #195
having the same issue here when deploying this code to AWS Lambda, although i think its probably an artifact of the bundling process, not the actual environment itself. while i haven't been able to dive deeper into exactly why `is-plain-object` is making a big fuss here, it is clear that it is linked to `is-plain-object@5.0.0`. i ended up pinning `@octokit/request@5.4.7` and `@octokit/endpoint@6.0

[2020-09-20 09:15] warrenbuckley commented on #195
Interesting it also happens in an AWS environment and is not 100% specific to Azure Functions. @jnwng does AWS give you more logs or insight to help @gr2m diagnose this issue?

[2020-09-20 15:55] gr2m commented on #195
Do you use any kind of bundling with webpack or similar?

[2020-09-21 17:17] gr2m commented on #195
@jnwng I tried to reproduce the problem on AWS using the `aws` CLI and following Lambda's deployment instructions: https://docs.aws.amazon.com/lambda/latest/dg/nodejs-package.html, but no luck.

Could you share more details please? I really appreciate both your help to identify the cause of the problem

[2020-09-23 15:20] warrenbuckley commented on #195
Currently waiting to hear back from MS/Azure team in the above ticket ⬆️
Will keep you posted when I have anything to report back

[2020-10-01 01:47] copperwall commented on #78
@gr2m I was testing this out with CF workers and the most recent release of `@octokit/graphql.js` and it seems to be working alright since these commits

https://github.com/gr2m/universal-user-agent/commit/d45e9dd24608ca0bf84fbb66d47871ebd391a124
https://github.com/gr2m/universal-user-agent/commit/a52f68818026142a08c3b0b83f90faa6ec993972

The test worker I have is live here https://my-app.copperwa

[2020-10-01 06:32] gr2m commented on #78
woah very cool, thanks for setting up a worker just for this issue :)

Yeah I'm pretty sure that the changes in universal-user-agent resolved the problem for good, we can close this issue

[2020-10-01 06:32] #78 closed

[2020-10-01 21:09] warrenbuckley commented on #195
I may close this issue as it currently can not be reproduced in a new Azure Function
https://github.com/Azure/azure-functions-nodejs-worker/issues/335#issuecomment-700971215

If I ever encounter this problem again or if anyone else does I suggest we re-open this to try & investigate further

[2020-10-01 21:09] #195 closed

[2020-10-01 21:11] gr2m commented on #195
Thank you Warren for staying on top of it 👍🏼

[2020-10-15 20:52] first-timers[bot] opened #209 "Replace "cdn.pika.dev" with "cdn.skypack.dev" in README"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

The Pika CDN is now Skypack, see https://www.pika.dev/cdn. The CDN at https

[2020-10-16 06:46] hexxdump commented on #209
is this issue open ?

[2020-10-17 04:33] gr2m commented on #209
All yours @hexxdump! We can accept many pull requests for this issue, so if anyone else would like to give it a try, please comment below. Enjoy!

[2020-11-01 04:25] chxtio commented on #209
Hi, I would like to give this a try for my first PR

[2020-11-01 07:15] gr2m commented on #209
@chxtio of course 👍🏼

[2020-11-01 18:01] #209 closed

[2020-12-08 20:45] gr2m opened #239 "Return human-readable GraphQL errors"
Follow up to https://github.com/probot/probot/issues/484

I think we probably shouldn't put this into `@octokit/graphql` itself, but an Octokit plugin, because the JSON response message can be processed more easily by other tooling. But either way, if anyone would like to work on it, I'd be happy to collaborate

[2021-01-22 01:19] renovate[bot] opened #248 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] build(deps): lock file maintenance

## Other Branches

These updates are pending. To force PRs open, click the checkbox below.

 - [ ] build(deps): update dependency trim-newlines to 3.0.1 [security]

---

- [ ] Check

[2021-02-02 13:24] oscard0m opened #254 "`GraphQlQueryResponseData` type not exposed when package is published"
**What happened?**
When trying to import `GraphQlQueryResponseData` type from `@octokit/graphql.js` is not possible because it is not exposed. Only `graphql` interface inside `types.ts` is exported

**What did you expect to happen?**
To be able to import it directly from the lib without accessing `dist-types/` folder

**What the problem might be**
Pika plugin when generating types exposure

[2021-02-02 13:24] oscard0m opened #255 "Integrate ISSUE_TEMPLATES to repository"

[2021-02-02 20:00] gr2m commented on #255
That'd be great 👍🏼 Would you like to send a PR yourself? You can use the templates from this script:

https://github.com/octokit/create-octokit-project.js/blob/main/lib/create-issue-templates.js

[2021-02-02 20:03] gr2m commented on #254
To make that work, we would need to export `GraphQlQueryResponseData` in `src/index.ts`

I wouldn't consider this a bug though, it's not currently documented that it would work. So I think this is rather a feature request? I don't mind adding it, but maybe also document it in the README if you want to send a pull request?

[2021-02-02 21:22] oscard0m opened #257 "Add Typescript verification test to this repository"
Good point! Maybe we could do a similar typescript verification test as we do in `@octokit/rest`?

https://github.com/octokit/rest.js/blob/fc62e6b98625830e1c60ba6c630306468b4c65a9/package.json#L66

_Originally posted by @gr2m in https://github.com/octokit/graphql.js/pull/256#discussion_r568933498_

[2021-02-02 21:46] #254 closed

[2021-02-09 15:23] kvz commented on #61
For me as a newcomer, I'm having a very hard time wrapping my brain around pagination, especially when multiple children on one level (many columns in one project) may have their own nextPages and required cursors (i think?). Documentation also is lacking of examples of how to do this so that I'm now going by resources like:

- https://gist.github.com/dahlbyk/c5ad56a5b77059dceca4ac53b747287a
- htt

[2021-02-09 15:27] ScottChapman commented on #61
yea, that's rough. I generally try to keep my queries that require pagination to one level if at all possible (sometimes I can accomplish that by using a different query).
But I went with the solution above; I have a helper function which takes the query, data variables, and the cursor path. Works great, so far haven't needed anything beyond that. Which makes me think it would be a valuable additi

[2021-03-01 20:04] vvo opened #261 "GraphQL API cursor pagination error: any hints"
Hi there, I am using @octokit/graphql, congrats on the library it's the right API (I have tried graphql-request before and it was too complex around variables + auth).

I am paginating through multiple results (using your technique in https://github.com/octokit/graphql.js/issues/61#issuecomment-643392492) and at some point I get this error:

Did you ever encounter it?

Here's the query:

[code]

I

[2021-03-01 20:09] gr2m commented on #261
In cases such as this I would reach out to support directly:
https://support.github.com/contact

For questions about GitHub's platform APIs or problems with the APIs that are likely not related to Octokit, the GitHub Ecosystem Community forum is a great place to ask for help: https://github.community/c/github-ecosystem/37

[2021-03-01 20:12] vvo commented on #261
Works for me, thanks

[2021-03-01 20:12] #261 closed

[2021-03-09 20:57] Tohaker opened #264 "Throw helpful error if `url` query variable is used"
Hi, I'm trying to run the following query;
[code]
I'm calling the GraphQL client with
[code]

But I keep getting the following error:
[code]

Trying the same query in GraphiQL with simply a String as the URL yields a successful response.
What do I need to do to properly format this URL?

I've tried
* `encodeURI`
* `encodeURIComponent`
* `new URL()`

[2021-03-09 21:03] gr2m commented on #264
The problem is that `url` is a special variable name that is used internally for the GraphQL endpoint URL. You should have gotten an explanatory error message, I'll have a look into it.

To resolve the problem, use a variable name other than `url`

[2021-03-09 21:11] Tohaker commented on #264
Thanks so much, all working now! Would definitely be helpful to get a better error message next time. :)

[2021-03-09 23:32] gr2m commented on #264
fixed via https://github.com/octokit/graphql.js/pull/265

[2021-03-09 23:33] #264 closed

[2021-04-22 18:17] gr2m commented on #61
Update: @laughedelic  is currently working on the pagination plugin for GraphQL at https://github.com/octokit/plugin-paginate-graphql.js/pull/1

[2021-04-26 02:20] laughedelic commented on #61
Just to clarify, I haven't actually done anything yet 😅 Just expressed my interest. Once I have some time to work on it, I will let you know about my progress.

I hope this doesn't give false hopes and doesn't discourage anyone else from working on it 🙂

[2021-05-06 23:42] eamodio opened #278 "Avoid setting `user-agent` when on the web or allow an opt-out?"
Currently `graphql.js` always tries to set the `user-agent` for the outgoing requests. And I am seeing an `Refused to set unsafe header "user-agent"` error on every request in the devtools console.

Is there a way around this?

[2021-05-06 23:50] gr2m commented on #278
What browser / version are you using? I never heard that setting user agent is not permitted

[2021-05-06 23:51] eamodio commented on #278
Latest Edge (Chromium) and I believe others are seeing it on Chrome as well.

[2021-05-07 19:00] gr2m commented on #278
This is getting really odd, is it possible that it depends on the site's own security settings?

Try running this code on https://example.com

[code]

I don't see any warning in my developer console, but it seems setting the `user-agent` has no effect? I tried to find a resource about the web standards no longer permitting to set this header in browsers, or any other official documentation on this

[2021-05-08 15:26] eamodio commented on #278
It seems like `user-agent` is no longer forbidden, but only Firefox has caught up with the spec: https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name

[2021-05-28 00:15] Restuta commented on #61
Hey folks, here is the mentioned video about pagination from GitHub Universe where @ReaLoretta touches on concepts like "nested" pagination and other advanced concepts: https://www.youtube.com/watch?v=i5pIszu9MeM

We have also open-sourced some of the code here https://github.com/toast-ninja/github-analytics-starter

In production (for [Toast](https://slack.com/apps/AC6M092SD-toast)), we have more

[2021-05-28 06:49] gr2m commented on #61
it was a great talk, I've been there 😁 that's how I learned about `query.nodes`, super neat!

But it's beyond the scope of what I want to build at octokit/plugin-paginate-graphql.js#1, I want to cover the most simple cases with auto pagination similar to what we have for the REST API ([`octokit/plugin-paginate-rest`](https://github.com/octokit/plugin-paginate-rest.js)) using a few conventions.

I

[2021-05-28 20:23] gr2m commented on #278
In that case I think I'd rather not change anything and wait until the browsers catch up. I'll close the issue but please feel free to continue to comment if you think I should reconsider

[2021-05-28 20:23] #278 closed

[2021-05-29 21:44] eamodio commented on #278
Digging into this more -- I believe the issue is that I am using this in a WebWorker, and they aren't allowed to set the `user-agent` AFAICT. Can an option be added to suppress this?

[2021-05-29 21:46] gr2m commented on #278
that'd be so odd, why? If you could get to the bottom of this, I'd appreciate it. If setting the user agent prevents octokit to be used from webworkers, I'd be happy to look into that. But I'm sure I've used plenty of octokit in web workers and service workers without problems in the past

[2021-05-29 21:48] eamodio commented on #278
It works fine, it just litters the error console with errors -- which makes it really hard to see real errors.

[2021-05-29 21:48] renovate[bot] opened #287 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Configuration option 'packageRules[0].npm' should be a json object, Invalid configuration option: @pika/pack, Invalid configuration option:

[2021-05-30 04:45] #287 closed

[2021-07-08 17:01] TomokiMiyauci opened #298 "Managing PAT in a browser environment"
H! Thanks for the great project.

The project runs only in a browser environment, such as SPA,
PAT will be bundled and technically accessible.

Should I hide the PAT on the server side even if I use no scoped PAT?

[2021-07-08 18:56] gr2m commented on #298
It depends on what you are building. If you want your users to be authenticated as themselves, then you will need the access token in the browser. If you use it only to increase the rate limit for fixed queries on the server side, then you can hide it in the server.

There is nothing actionable for us to do here so I'm going to close the issue, but feel free to ask follow up questions

[2021-07-08 18:56] #298 closed

[2021-07-09 00:28] TomokiMiyauci commented on #298
I am trying to use a static site generator like Gatsby to get the number of comments on an issue associated with a blog post, on the client side.

I probably shouldn't have asked this question here, but...
The essence of this question is whether there is a problem with no scoped PAT being leaked.

[2021-07-09 00:39] gr2m commented on #298
yes someone else might drain your rate limit and lock you out from using anything else with your account. I can't think of anything else, but yeah better don't let it leak

[2021-07-09 01:31] TomokiMiyauci commented on #298
I asked this question due to security concerns.
Thanks for answering!

[2021-08-05 06:59] balupton commented on #61
Just wondering if there are any updates on this (no pressure, ❤️s for everyone), I'm surprised that it requires days of learning for what should be a one-liner, reminds me of everything else react.

[2021-08-05 10:43] tcastelly opened #304 "missing fields in PackageVersion"
Hello,

The REST Api allow to retrieve dates for a package version:
- created_at
- updated_at

I'm wondering if these fields can be implemented in PackageVersion graph.

[2021-08-05 15:30] NickLiffen commented on #61
Okay, @gr2m I should now have some time to start this (sorry for taking **sooo** long). I think to set expectations this is not going to work for every use case, and to start with we will need to set out the scope of the library. E.G you could have nested down nextTokens for the following request. @gr2m is there a place maybe where we (any anyone else who is interested) could map out what we would

[2021-08-05 18:53] gr2m commented on #304
Hi @tcastelly, this is the wrong place to ask I'm afraid. This repository is just a JavaScript method to send queries to GitHubs GraphQL API. I recommend to contact support at https://support.github.com/contact or to create a post in the GitHub API forum at https://github.community/c/github-ecosystem/37

[2021-08-05 18:53] #304 closed

[2021-08-05 19:55] gr2m commented on #61
yay! And no worries

I think this issue here as well as the pull request at https://github.com/octokit/plugin-paginate-graphql.js/pull/1 had plenty of discussion. I'd say the scope is set by now. Let's not supported nested paginations, and let's implement the suggestion with cursor variable names mapping to the query paths, as in the last two paragraphs here:

https://github.com/octokit/graphql.js

[2021-08-05 20:43] NickLiffen commented on #61
Okay nice! I like it @gr2m I will get something underway 💯 Im between jobs but have some time, it won't be in the next few days but expect a PR soon to review 👍

[2021-08-27 16:52] devversion opened #311 "Expose types for GraphQL request errors"
The GraphQL API method throws if there are response errors, using the `GraphqlError` class. It might make sense to expose this type and also expose the errors & response as a public field of that class. Right now `GraphqlError` does not expose any useful information (if accessed through `error.js`)

[2021-08-27 19:28] #311 closed, assigned to nobody

[2021-08-30 09:16] #248 closed

[2021-09-02 18:23] kvz commented on #61
Hi there :wave: i was wondering if there were any updates on generalizing pagination for github's graphql :)

[2021-09-16 08:01] kevinkowa opened #320 "HttpError: Integration not found"
Hi, I'm getting the following error `HttpError: Integration not found` when running a graphql query. This only happens when the repository is private, otherwise it works. I'm using an installationId to authenticate.
[code]
query looks like this. Where repositoryName and repositoryOwner is retrieved from an installation event
[code]

Can you guys turn me to the right direction here?

[2021-09-16 08:17] gr2m commented on #320
I'm not sure what the problem might be I'm afraid, I have not seen this error myself before. The code looks good.

Can you maybe create the installation access token and then use it with a non-octokit tool to send the query, e.g. https://www.electronjs.org/apps/graphiql? If you get the same error, it's not related to Octokit and I'd recommend to contact support

[2021-09-16 20:56] kevinkowa commented on #320
Thanks, looks like it was a permission issue

[2021-09-16 20:56] #320 closed

[2021-10-05 18:09] astorije opened #326 "Support callback for defaults"
Hi there!

All the examples of the `.defaults()` function that I could find are pretty straightforward, for example:

[code]

However, there are cases where some defaults are not available during the initial importing of modules, for examples if they are loaded from somewhere (i.e. async, e.g. from disk or another API) or if they require additional checking/validation.

Essentially, it would be gr

[2021-10-07 18:31] papaiatis opened #327 "Unable to compile project, graphql package is giving TS errors"
Hey,

I added `octokit/graphql` package to my project and since then I'm unable to build it, getting the following errors:

![image](https://user-images.githubusercontent.com/3688096/136441473-3e2e2ace-7d7c-43c4-970d-0e36bc110d0b.png)

I have the following octokit packages installed:

![image](https://user-images.githubusercontent.com/3688096/136442386-6062f218-697c-4f58-809d-db81a46241c7.png)

I

[2021-10-07 18:37] gr2m commented on #327
Can you try setting `compilerOptions.strictNullChecks` to `true`?

We only support TS v4, sorry. You will have to upgrade eventually. Our types are very complex, and we rely on the latest TS to make them work.

[2021-10-07 18:37] #327 closed

[2021-10-12 03:45] gr2m commented on #326
try this

[code]

[2021-10-12 05:59] astorije commented on #326
I'll try that, thank you! Do you happen to know how I can type this
properly? It seemed like some types were not exported for that.--
Jérémie Astori
https://jeremie.astori.fr

[2021-10-14 00:40] astorije commented on #326
So in case anyone needs this, in the end I went with the following, until I can figure out the types a little better 😕 :

[code]

I also tried the following with `@octokit/core` but couldn't get it to work, and `options` is not typed (`options` is of type `Function | OctokitOptions` which doesn't help `tsc`), so out-of-luck on that front:

[code]

It seems like the header doesn't get picked up at

[2021-11-09 10:44] soundstep opened #329 "Cannot get response headers"
Hi,

I was thinking about client-side request caching to optimize some CLI requests, I would probably need to get the request response headers for that.

Unless I missed something, it looks like there is no way to retrieve the response headers once the Github request.

Is that something that could be done?

Maybe with an option?

**Without extended option (as it is currently)**

[code]
[code]

**W

[2021-11-10 01:46] wolfy1339 commented on #329
Hi @soundstep,

The `@octokit/request` module is used under the hood and should provide access to headers.

Unfortunately, I haven't used this module, and haven't touched it's codebase, so I'm unable to help.

Please note that @octokit has no current maintainer.

You can check out and subscribe to https://github.com/octokit/octokit.js/discussions/620#discussioncomment-1472174 for updates

[2022-01-25 13:57] RebeccaStevens opened #331 "Is it possible to use .graphql files?"
I'd like to write my graphql code in separate files and use a tool such as `@graphql-codegen` to create TypeScript defs for everything.
Is that possible with `@octokit/graphql`?

It seems that `graphql` can only accept `string` queries and not queries of type document node.

Or if I'm going off on the wrong track, let me know. I only just started trying to actually use graphql for the first time.

[2022-02-02 12:08] mattias-fritzson opened #332 "Deployment branch rules in environments cause error"
Trying to fetch environment information from repos with the graphql api but if I have environments with the "Deployment branches" setting to something other than "All branches" I get the following error:
{
  "errors": [
    {
      "message": "Something went wrong while executing your query. Please include `653A:5915:49CC54:4CE94D:61FA72B8` when reporting this issue."
    }
  ]
}

[2022-02-05 01:15] pthieu opened #333 "variables aren't working"
I have this query:
[code]

I get this response:
[code]

`user` is defined a bit before the query so it exists, I've also tried to hardcode a value. Format seems to be correct but the error keeps popping up.

If i completely remove variables and apply a hardcoded username after `author:`, it works, so the entire query should be structured properly.

[2022-02-05 04:53] copperwall commented on #333
Hi @pthieu 👋 I believe this error is failing due to the GraphQL server following this section of the GraphQL spec about variable validation http://spec.graphql.org/October2021/#sec-All-Variables-Used. To the GraphQL server, I believe it views `"is:pr is:closed author:$user"` as a plain string and doesn't know that the `$user` section of the string is referencing the GraphQL variable supplied to yo

[2022-02-05 05:21] pthieu commented on #333
@copperwall ah that makes sense, I'll have to move my entire query to a variable, thanks!

[2022-02-05 05:21] #333 closed

[2022-02-08 17:01] apsamuel opened #334 "Requests for Projects (Beta) via graphql return wrong results"
When using the octokit graphql module, I'm getting an incorrect result returned when querying for `projectNext` (Projects Beta) on GitHub.

## octokit/graphql (returns null values)

[code]

## octokit/graphql (successful against other resources)

[code]

## GraphQL Explorer (successful)

<img width="1183" alt="Screen Shot 2022-02-08 at 11 49 00 AM" src="https://user-images.githubusercontent.com/10

[2022-02-08 17:49] apsamuel commented on #334
Update: this was related to the permissions on the token, both `org:read` and `org:write` are needed to interact with GH GraphQL API. Going to close this one.

[2022-02-08 17:49] #334 closed

[2022-02-08 17:55] dan-kez commented on #17
Apologies for pulling on an old thread, I've been looking through the repo and it's not clear to me how to integrate a plugin with the current graphql implementation. Is there a way to pass an Octokit instance to this library that I am missing?

[2022-02-09 20:10] gr2m commented on #17
This library exports a stateless `graphql` function. You can use [`@octokit/core`](https://github.com/octokit/core.js/#readme), which includes the `octokit.graphql` method on each instance

[2022-02-09 23:10] josefaidt commented on #334
Hey @apsamuel I'm running into this as well but have those two org permissions. Did you have to give your token admin access to get it to work?

[2022-03-15 00:38] cthompson0526 opened #336 "I don't think it's necessary. If you really need a defaults callback then you can use https://github.com/octokit/core.js which does support it."
I don't think it's necessary. If you really need a defaults callback then you can use https://github.com/octokit/core.js which does support it.

For your particular case you can set `request.hook`, which is described in https://github.com/octokit/request.js/#request

<img width="874" alt="image" src="https://user-images.githubusercontent.com/39992/136099300-4cca6fb5-a9bb-439c-8a72-669eb76da622.png

[2022-03-15 00:39] cthompson0526 commented on #336
allow all

[2022-03-15 02:45] #336 closed

[2022-04-05 09:58] ktikku opened #338 "Optional Parameters"
Hey Team,

I'm trying to paginate through all repos in my organization.
I've kept `nextCursor` as optional.
What will be the value for the afterCursor variable when the request is sent for the first time
I tried null but the response failed, and I tried empty string as well.

Thanks in advance!

[code]

[2022-05-13 09:35] digimangos opened #343 "How to populate Int Variables in Typescript"
I'm trying to use a query which has an "Int!" variable, but this is always being sent as a string.

[code]

projectNumber is defined as `projectNumber: number`

But the resultant graphQL query is sent as a string:
[code]

which returns the error:

[code]

Is it possible for the variable to be resolved as `"projectNumber": 4`? I notice the example in the [README.md - Variables](https://github.com/o

[2022-06-25 10:31] oscard0m opened #364 "Remove Node version 10 from .github/workflows/test.yml"
# Description
Node v10 has been deprecated so there is no need to keep giving support to it in our CI.
# Context
You can find more details [here](https://github.com/orgs/octokit/teams/js-community/discussions/6)

[2022-07-08 17:17] wolfy1339 opened #368 "ci: use `test_matrix` and `test` jobs"
Follow up to #365

Ideally we would do a `test_matrix` step and then a `test` step that depends on `test_matrix`, so that for branch protections we can require `test` independent of the Node versions we are using.

See this for reference: https://github.com/octokit/core.js/blob/393caf31b2e802ea9be59aa84f90d64f98953fdb/.github/workflows/test.yml#L32

[2022-07-08 17:41] #364 closed

[2022-07-09 14:28] #368 closed

[2022-08-02 18:13] gr2m commented on #331
`@octokit/graphql` won't be able to directly translate a GraphQL query into result types, but you can pass a custom result type to the `graphql` function
https://github.com/octokit/graphql.js/blob/2da577c472dded95feb6e4bd7fa57c9a07e3abc5/src/graphql.ts#L25

As @odanado suggested, we publish GitHub's GraphQL schema as separate package. You can combine the two as shown in this example:

https://gith

[2022-08-02 18:13] #331 closed

[2022-08-22 06:48] davelosert commented on #61
@gr2m : I currently also need a GraphQL Pagination, and as this does not seem to have made a lot of progress recently, I'd like to throw my hat into the ring here as well with two very basic POCs I did this last weekend.

I basically thought about two solutions (I named them `simple` and `complex` for now ;) ), let me explain them first before I compare them.

## Simple

Calling / creating a query

[2022-08-24 23:23] laughedelic commented on #61
Thanks for pushing this forward @davelosert!

I like the pros of the simple approach, and I don't think it has a more complex interface: creating cursors explicitly makes it less "magical". But the "complex" approach also looks good 👍

I wanted to check if it would work on Deno since you mentioned your doubts about the `graphql` dependency. It actually mentions in the readme that it [should work i

[2022-08-25 06:23] davelosert commented on #61
@laughedelic : First of all thank you for the feedback. 👍🏻

I agree that the simple approach is less magical - and that that might even be a good thing.

I like that the complex solution would work in the browser. That changes things, even though I'd still have to check what it does to the bundle size 😅. But since i only use the `parse` (and later maybe the `stringify`) method, it might not even b

[2022-08-25 06:40] jetersen commented on #61
Just wanted to pop in and say thanks for moving this forward 👏

I honestly prefer the simple solution, less magic + no dependency.

[2022-08-25 07:23] davelosert commented on #61
@jetersen : Yes I agree, at least for an 'official' or maybe later even 'built in' solution (like paginate-rest in the [octokit.js](https://github.com/octokit/octokit.js) lib), the simple approach is the better one.

We could still think about providing an additional plugin with the GraphQL-Solution that would enable for some more advanced features (as described above) - but IMHO, those are for us

[2022-08-25 07:27] kvz commented on #61
As a user, to me there is value in some magic here, the simple approach seems fairly unwieldy to operate and not a big leap in dx forward compared to how we currently work around not having a pagination abstraction in this dev kit.

[2022-08-25 11:46] timrogers commented on #61
Thank you so much for taking the time to drive this forward ❤️  I'm excited to see one of these approaches land as a plugin, and once the plugin is battle-tested and we have more feedback, we could look at including it in Octokit 🏆

I'm torn on whether I prefer the simple or the complex solution. I do think that being able to solve the nested pagination problem would be _really really valuable_, s

[2022-08-25 13:46] jetersen commented on #61
Just add, I am not against having the complex solution cause nested pagination is a complex problem and if we can remove the struggle. Thats great!

[2022-08-25 14:23] laughedelic commented on #61
Isn't nested pagination also solved in the simple solution? You just need to define cursors explicitly.

[2022-08-25 14:27] laughedelic commented on #61
@kvz The proposed solution requires you to simply say explicitly that you want to paginate on a given cursor in your query, nothing else. Currently, we have to implement the _actual pagination_ logic, running queries multiple times, passing cursors between them, combining results, etc. So I think it actually _is_ a big leap in DX.

[2022-08-25 14:31] timrogers commented on #61
You're right actually - my bad. I misread 😱😅

Given that, I would favour the simple solution - it solves nested pagination (which is the big prize) and I do the think the developer experience is a big leap forward.

[2022-08-26 06:49] davelosert commented on #61
I have to apologize: I completely mixed up 'nested' and 'parallel' pagination in my head while writing down the solution and just realized, while I tried to make my actual nested example above work, that it ain't that easy.

I missed that you would not only need one nested cursor, but create one for every nested return value, which in turn requires us to alter the query. This is not really doable

[2022-08-26 06:59] jetersen commented on #61
@davelosert if you want a good query to test with :) Look at the one we have over at release drafter.

https://github.com/release-drafter/release-drafter/blob/06a49bf28488e030d35ca2ac6dbf7f408a481779/lib/commits.js#L32 it could be quickly modified to have nested pagination as well :)

[2022-08-26 08:20] timrogers commented on #61
@davelosert Thanks again for taking the time to look into this!

I'm supportive of a plugin that implements the simple solution - I do think that any automatic pagination (even un-nested) is a significant DX improvement. It certainly has been for me when working out REST API!

We can look at making the plugin "default" once it has seen some action.

I wonder if there would be any way to warn peopl

[2022-08-26 09:33] jetersen commented on #61
I would love to test out non-nested pagination 👏 The code cleanup alone 🙌

[2022-08-26 09:59] davelosert commented on #61
@timrogers : Sure, let's see if I can get this into a publishing state during the weekend. Shall I just go ahead and publish it under my own account for now or do you still want me to provide it as a PR to the / within the [octokit/plugin-paginate-graphql.js](https://github.com/octokit/plugin-paginate-graphql.js) repository?

@jetersen : Thank you so much for the test queries - those complex real

[2022-08-26 13:36] timrogers commented on #61
Happy for you to make a PR to the Octokit repository, if that sounds good to you ✨ I think this functionality is “core” enough that it makes sense for it to be part of Octokit.

We often use https://github.com/octokit/create-octokit-project.js for setting up new projects as it’s a decent scaffold.

Thank you so much again for your work on this ❤️

Get Outlook for iOS<https://aka.ms/o0ukef>
_______

[2022-08-31 08:46] bennypowers commented on #331
OP's question was about using graphql files, which includes typed responses but isn't limited to that.

Consider:

[code]

In this case, we want to import a fragment into two separate graphql files and use them in our query.

We could concat strings, as we've done with these template literals, but what if we want to take advantage of the graphql ecosystem tooling?

[2022-09-13 10:29] su-mit opened #400 "How to add connection timeout constraint"
I was trying to fetch few details regarding my current organisation, I tried the following query:

[code]

and  I am getting the following error:
[code]

What I guess is that the connection timeout limit is exceeding. Is there a way by which I can change it?
If it's  not can we have such feature, otherwise we have to break it down and run multiple times (which is working fine for now)

[2022-09-13 11:27] timrogers commented on #400
Hi @su-mit 👋🏻 I'm afraid that the timeout is applied by the GitHub GraphQL API itself, so you won't be able to customise it from your GraphQL query. You'll need to use a less complex query if you want to consistently get results.

[2022-09-13 22:11] su-mit commented on #400
Okay, @timrogers. Thnx for the info.

[2022-09-13 22:11] #400 closed

[2022-09-22 16:16] Nasr-Ladib opened #406 ""An operation name is required if the query contains multiple operations""
Hi. I am trying to put many queries and fragments inside one request.
My POST request's body:

[code]
I found that I can add ./src/graphql.ts:11

[code]
add a non-variable option `operationName`

[code]

Please give me some clues. Thanks in advance.

[2022-09-23 19:44] gr2m commented on #406
It looks like an error you are getting from the GraphQL API, I don't think this is an error with `@octokit/graphql`

[2022-09-29 15:14] sheehan opened #411 "Accidental release of `octokit-next.js` to `@octokit/graphql`"
The import from the readme quit working yesterday after version 2.3.0 was pushed.

[code]
[code]

I had to add `@5.0.1` to fix.

[2022-09-29 15:47] wolfy1339 commented on #411
That is interesting...
I have no idea where it's picking up the `@octokit-next/*` packages from, as they aren't used in this package at all.

[2022-09-29 17:01] tmilewski opened #412 "Accidental release of `octokit-next.js` to `@octokit/graphql`"
It appears that `octokit-next.js` was accidentally released to https://www.npmjs.com/package/@octokit/graphql

Similar: #411

[2022-09-29 17:02] tmilewski commented on #411
"Downgrade" to 5.0.1. There was an accidental release, see #412.

[2022-09-29 17:06] wolfy1339 commented on #412
Let's keep this in one issue.

[2022-09-29 17:07] #412 closed

[2022-09-29 17:08] wolfy1339 commented on #411
@gr2m Can you double check this?

[2022-09-29 18:52] gr2m commented on #411
oh my very sorry for this, I'm looking into it

[2022-09-29 18:55] #411 closed

[2022-09-29 21:13] gr2m commented on #411
To make sure this cannot happen again in future, I created a dedicated npm account for the `@octokit-next/*`. In a situation that occured here the release would simply fail, because the used NPM token belongs to https://www.npmjs.com/~octokit-next-bot and that user does not have access to the `@octokit/` scope at all.

[2022-10-03 16:13] hansmbakker opened #414 "Possibility to use custom reviver in deserialization?"
Is it possible to use custom revivers in the deserialization, so that `Date` strings could be serialized back directly to `Date` objects?

See https://stackoverflow.com/a/35923990/1114918 for reference.

Should I maybe do something with a custom `fetch` implementation?

[2022-10-03 16:27] hansmbakker commented on #414
(likely this needs to be answered in https://github.com/octokit/request.js/issues/538)

[2022-10-03 23:24] gr2m commented on #414
closing in favor of https://github.com/octokit/request.js/issues/538

[2022-10-03 23:24] #414 closed

[2022-10-06 08:12] Nasr-Ladib commented on #406
Actually, I can't pass the parameter on the body of operationName.
Because the request needs (query and operationName) of a multi operation on the same graphQL.

[2022-10-12 02:51] tony commented on #338
@ktikku Does https://github.com/octokit/plugin-paginate-graphql.js help you?

[2022-10-13 05:54] gr2m commented on #61
We have https://github.com/octokit/plugin-paginate-graphql.js now 🥳

[2022-10-13 05:54] #61 closed